<!DOCTYPE HTML>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="{{ static_url('styles/styles.css') }}" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>
    <canvas id="viewport" width="850" height="600"></canvas>
    <div id="debug">
        <ul>
            <li class="viewport-fps">viewport fps: <span>--</span></li>
            <li class="physics-fps">physics fps: <span>--</span></li>
            <li class="requests">socket reqs: <span>--</span></li>
            <li class="objects">drawable objects: <span>--</span></li>
            <li class="ttl">ball ttl: <span>--</span></li>
        </ul>
    </div>
    <section id="statistics">
        <ul>
            <li class="total-transfer"></li>
        </ul>
    </section>
    <script id="hosts" type="application/json">{{ json_encode(hosts) }}</script>
    <script id="colours" type="application/json">{{ json_encode(colours) }}</script>
    <script src="{{ static_url('scripts/json2.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ static_url('scripts/jquery.min.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ static_url('scripts/webgl/matrix3.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ static_url('scripts/webgl/utils.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ static_url('scripts/main.js') }}" type="text/javascript" charset="utf-8"></script>
</body>
</html>