body{
    margin:0;
    padding:20px;
}
canvas#viewport{
    float:left;
    margin-bottom:20px;
}
#debug{
    color:#fff;
    float:left;
    font-size:11px;
    font-family: helvetica, Arial, "MS Trebuchet", sans-serif;
    margin:0 0 0 20px;
    padding:10px;
    background-color:#333;
}
#debug ul{
    list-style: none;
    padding:0;
    margin:0;
}
#debug li{
    margin:0 0 5px 0;
    width:125px;
    position:relative;
}
#debug li:last-child{
    margin:0;
}
#debug li span{
    position:absolute;
    display:block;
    right:0;
    top:0;
}
#statistics{
    clear:both;
    width:830px;
    color:#fff;
    font-size:11px;
    font-family: helvetica, Arial, "MS Trebuchet", sans-serif;
    padding:10px;
    background-color:#333;
}