body{
    margin:0;
    padding:0;
    background-color:#222;
}
#canvas{
    position:absolute;
    top:0;
    left:0;
    background-color:#222;
}
#debug{
    color:white;
    position:absolute;
    top:10px;
    left:10px;
    z-index:2;
    font-size:10px;
    font-family: helvetica, Arial, "MS Trebuchet", sans-serif;
    text-transform:uppercase;
    margin:0;
    padding:0;
}
#debug ul{
    list-style: none;
    padding:0;
    margin:0;
}
#debug li{
    
}